html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/cubes.png");
  background-color: #2d2d34;
}

.game-container {
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75%;
  min-height: 30em;
  height: 100%;
  background-color: #19647e;
  margin: 0 auto;
}

#start {
  margin-top: 2em;
  height: 3em;
  width: 15em;
  align-self: center;
}

.answer {
  color: #2d2d34;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  width: 50%;
  /* text-align: center; */
}

.answer:hover {
  cursor: pointer;
}

.answerBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.answerImage {
  border-radius: 20px;
  width: 20em;
  height: 15;
}
